@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply overflow-x-hidden;

        scroll-behavior: smooth;
    }

    @media screen and (prefers-reduced-motion: reduce), (update: slow) {
        html {
            scroll-behavior: auto;
        }

        *,
        *::before,
        *::after {
            animation-duration: 0.001s !important;
            transition-delay: 0.001s !important;
            transition-duration: 0.001s !important;
        }
    }

    button,
    [role='button'],
    input[type='submit'] {
        background: none;
        color: inherit;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        margin: 0;
        padding: 0;
        text-transform: inherit;

        &[disabled] {
            cursor: not-allowed;
        }
    }

    /* Eliminate outline for mouse users */
    html[data-whatintent='mouse'] *:focus,
    html[data-whatintent='touch'] *:focus {
        outline: none;
    }

    svg {
        fill: currentColor;
    }

    abbr[title] {
        text-decoration: none;
    }

    table {
        border-spacing: 0;
    }

    th {
        text-align: left;
    }
}

@layer components {
    /* Rich Text styling */
    .text {
        @apply leading-relaxed;
    }

    .text a {
        @apply decoration-2;
        @apply decoration-blue-200;
        @apply duration-200;
        @apply font-medium;
        @apply transition-all;
        @apply underline-offset-2;
        @apply underline;
    }

    .dark .text a:hover {
        @apply text-blue-100;
        @apply decoration-transparent;
    }

    .text a:hover {
        @apply text-blue-200;
        @apply decoration-transparent;
    }

    .text strong,
    .text b,
    .text em,
    .text i {
        @apply text-blue-200;
    }

    .dark .text strong,
    .dark .text b,
    .dark .text em,
    .dark .text i {
        @apply text-blue-100;
    }

    .text h2,
    .text h3,
    .text h4,
    .text p,
    .text ol,
    .text ul,
    .text pre,
    .text hr {
        @apply my-40;
    }

    .text h2,
    .text h3,
    .text h4 {
        @apply antialiased;
        @apply font-serif;
        @apply leading-snug;
        @apply mt-48;
    }

    .text h2 {
        @apply text-lg;
    }

    @media screen(md) {
        .text h2 {
            @apply text-xl;
        }
    }

    .text h3 {
        @apply text-md;
    }

    @media screen(md) {
        .text h3 {
            @apply text-lg;
        }
    }

    .text h4 {
        @apply text-sm;
    }

    @media screen(md) {
        .text h4 {
            @apply text-md;
        }
    }

    .text > *:first-child {
        @apply mt-0;
    }

    .text > *:last-child {
        @apply mb-0;
    }

    .text hr {
        @apply border-blue-200;
    }

    .text pre {
        @apply bg-blue-600;
        @apply font-hairline;
        @apply font-mono;
        @apply overflow-x-auto;
        @apply p-32;
        @apply text-cream-100;
        @apply tracking-normal;

        scroll-behavior: smooth;
    }

    .text ul {
        @apply ml-32;
        @apply space-y-16;
    }

    .text ul li {
        @apply relative;
    }

    .text ul li::before {
        @apply absolute;
        @apply font-serif;
        @apply text-ty;

        content: '➔';
        left: -20px;
        top: 5px;
    }

    .text ol {
        @apply ml-32;
        @apply space-y-16;

        counter-reset: ol;
    }

    .text ol li {
        @apply relative;
    }

    .text ol li::before {
        @apply absolute;
        @apply font-serif;
        @apply text-cream-100;

        content: counter(ol) '.';
        counter-increment: ol;
        left: -20px;
    }

    .text blockquote {
        @apply border-blue-200;
        @apply border-l-4;
        @apply font-serif;
        @apply mx-32;
        @apply px-16;
        @apply py-4;
        @apply text-lg;
        @apply text-cream-100;
    }

    /* Code Block */
    .code-block pre {
        @apply antialiased;
        @apply bg-blue-600 !important;
        @apply font-hairline !important;
        @apply font-mono !important;
        @apply p-32 !important;
    }

    /* Loader */
    /* From https://loading.io/css/ */
    .lds-ellipsis {
        @apply h-64;
        @apply inline-block;
        @apply relative;
        @apply w-64;
    }

    .lds-ellipsis div {
        @apply absolute;
        @apply bg-blue-200;
        @apply rounded-full;

        animation-timing-function: cubic-bezier(0, 1, 1, 0);
        height: 11px;
        top: 27px;
        width: 11px;
    }

    .lds-ellipsis div:nth-child(1) {
        animation: lds-ellipsis1 0.6s infinite;
        left: 6px;
    }

    .lds-ellipsis div:nth-child(2) {
        animation: lds-ellipsis2 0.6s infinite;
        left: 6px;
    }

    .lds-ellipsis div:nth-child(3) {
        animation: lds-ellipsis2 0.6s infinite;
        left: 26px;
    }

    .lds-ellipsis div:nth-child(4) {
        animation: lds-ellipsis3 0.6s infinite;
        left: 45px;
    }

    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }

    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(19px, 0);
        }
    }

    /* Forms */
    .forms .field {
        @apply my-24;
    }

    .forms label {
        @apply block;
        @apply mb-8;
        @apply cursor-pointer;
    }

    .forms textarea {
        @apply h-480;
        @apply max-h-half;
    }

    .forms input,
    .forms textarea {
        @apply bg-blue-500;
        @apply border-default;
        @apply border-blue-600;
        @apply p-16;
        @apply w-full;
        @apply transition-all;
        @apply duration-200;
        @apply rounded-default;
        @apply text-blue-100;
        @apply outline-none;
    }

    .forms input:focus,
    .forms textarea:focus {
        @apply border-current;
        @apply bg-blue-600;
    }
}
