/* From https://loading.io/css/ */

.lds-ellipsis {
    @apply h-64;
    @apply inline-block;
    @apply relative;
    @apply w-64;
}

.lds-ellipsis div {
    @apply absolute;
    @apply bg-pink-300;
    @apply rounded-full;

    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    height: 11px;
    top: 27px;
    width: 11px;
}

.lds-ellipsis div:nth-child(1) {
    animation: lds-ellipsis1 0.6s infinite;
    left: 6px;
}

.lds-ellipsis div:nth-child(2) {
    animation: lds-ellipsis2 0.6s infinite;
    left: 6px;
}

.lds-ellipsis div:nth-child(3) {
    animation: lds-ellipsis2 0.6s infinite;
    left: 26px;
}

.lds-ellipsis div:nth-child(4) {
    animation: lds-ellipsis3 0.6s infinite;
    left: 45px;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
